      /* --- Estilos generales --- */
      body {
        margin: 0;
        font-family: "Arial", sans-serif; /* Fuente */
        color: #ffffff;
        background-image: url("https://i.postimg.cc/W3KLShrS/fondo-png.png");
        background-size: cover; /* Que ocupe todo */
        background-position: center 20%; /* Centrarla */
        height: 150vh; /*Alto: 150% pantalla*/
        display: flex;
        flex-direction: column;
      }

      /* --- Barra de navegación --- */
      header {
        background-color: #023a58;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
      }

      header h1 {
        font-family: "Impact", sans-serif; /* Fuente */
        letter-spacing: 2px; /* Espacio entre caracteres */ 
        margin: 0;
        color: #fff; /* Color de texto */ 
      }

      nav ul {
        list-style: none; /* Quitar estilo de la lista */
        display: flex;
        gap: 40px; /* Espacio entre elementos */
        margin: 0;
        padding: 0;
      }

      nav a {
        text-decoration: none; /* Quitar estilos de enlaces */
        color: #fff;
        font-weight: bold; /* Hacer texto negrita */
        transition: color 0.3s; /* Pequeña animación */
      }

      nav a:hover {
        color: #00aaff; /* Cambiar color al pasar el cursor */
      }

      /* --- Contenido principal --- */
      main {
        flex: 1; /* Que ocupe todo el espacio */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad del 0.4 */
      }

      main img {
        width: 500px; /* Ancho */
        max-width: 80%; /* Altura máxima */
        margin-bottom: 20px;
      }

      h2 {
        font-size: 1.2em;
        margin-top: 0;
      }

      p {
        margin: 5px 0;
      }

      /* --- Footer --- */
      footer {
        text-align: center;
        padding: 20px;
        background-color: #023a58;
        font-size: 0.9em;
      }
